.App {
    margin: 1rem;
    font-family: Arial, Arial, Helvetica, sans-serif;
}

.runlink {
    text-decoration: none;
}

.ok {
    color:green;
}

.fail {
    color:red;
}

.unstable {
    color: gray;
}
